{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": "off",
    "flowtype/require-valid-file-annotation": [2, "line"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
